* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 0
}

header {
    background-color: #fff;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#left-container {
    width: 640px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

}

form,
.library-book {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

form {

    width: 640px;

}

form input {
    appearance: none;
    background: #efefef;
    border: solid 1px #e1e1e1;
    border-radius: 2px;

}

#right-container {
    width: 640px;


}

#library {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    gap: 10px
}