@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #FFE4D0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 0
}

header {
    background-color: #fff;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 60px;
}

button {
    cursor: pointer;
}

.form-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-header button {
    display: block;
    appearance: none;
}

.form-header h1 {
    flex: 1;
}

#form-container {
    width: 640px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;

}

#form-container.visible {
    display: flex;

}

form,
.library-book {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 20px 20px 20px 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

form {

    width: 640px
}

form input[type=text] {
    appearance: none;
    background: #efefef;
    border: solid 1px #e1e1e1;
    border-radius: 2px;

}

fieldset {
    border: none;
}

#right-container {
    min-width: 640px;
    width: 100%;
    max-width: 1280px;
    margin-top: 50px;

}

#library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px
}

.library-book {
    gap: 0;
    padding: 0;
}

.library-book>* {
    padding: 20px 20px 20px 20px;
}


.library-book p {
    margin: 0 0 10px 0;

}

.library-book div p.library-book-title {
    font-size: 24px;
    font-weight: bold;
    flex: 1;
    margin: 0;


}

.library-book p.library-book-author {
    border-bottom: solid 1px #e1e1e1;
    padding-top: 0;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 200;
}

.library-book-delete {
    width: 24px;
}

.library-book .book-header {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding-bottom: 0;
}

.library-book-date {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}